<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <title>HOTEL BEIRA-MAR</title>
</head>
  
<body>
  <main>
    <div class="hotel-header">
        <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
    </div>

<a class="botao-voltar" href="/home"><img src="seta-esquerda.png"></a>
<div class="content">
  <div class="login-field">
    <form action="/addGuest" method="post" class="form-hospede">
  
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required placeholder="Nome Hóspede">
      
        <label for="sobrenome">Sobrenome:</label>
        <input type="text" id="sobrenome" name="sobrenome" required placeholder="Sobrenome Hóspede">
      
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" required placeholder="CPF Hóspede">
      
        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" name="telefone" required placeholder="Telefone Hóspede">

        <label for="telefone">Sexo:</label>
        <select id="" name="sexo" class="input-sexo" required>
          <option value="" disabled selected>Sexo</option>
          <option value="masculino">Masculino</option>
          <option value="feminino">Feminino</option>
        </select>
        
      
        <button type="submit">Cadastrar Hóspede</button>
      
        <div class="error-message" id="error-message"></div>
      </form>
      
      
  </div>
</div>
</main>
<footer>
</footer>
</body>
</html>