<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <title>HOTEL BEIRA-MAR</title>
</head>
  
<body>
  <main>
    <div class="hotel-header">
        <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
    </div>

<a class="back-button" href="/home"><img src="seta-esquerda.png"></a>
<div class="content">
  <div class="choose-field">
      <div class="search-input">

          <form action="/guests" method="post" >
              <input class="guests-input" type="text" placeholder="Nome"/>
              <input class="guests-input" type="text" placeholder="Sobrenome"/>
              <input class="guests-input" type="text" placeholder="CPF"/>
              <select id="gender-input" name="sexo" class="input-sexo">
                  <option value="" disabled selected>Sexo</option>
                  <option value="masculino">M</option>
                  <option value="feminino">F</option>
              </select>
              <button type="submit" class="search-button"></button>
          </form>

      </div>
      <div class="guest-field">
        <a class="botao-adicionar" href="/addEmployee">Adicionar</a>
      </div>
        <div class="table-div">
                <table>
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>CNH</th>
                        <th>CPF</th>
                        <th>Sexo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}">
                        <td><span th:text="${employee.name}"></span></td>
                        <td><span th:text="${employee.last_name}"></span></td>
                        <td><span th:text="${employee.cnh}"></span></td>
                        <td><span th:text="${employee.cpf}"></span></td>
                        <td><span th:text="${employee.gender}"></span></td>
                        <td class="delete-link">
                            <a th:href="@{/deleteEmployee/{id}(id=${employee.employee_id})}" onclick="return confirm('Tem certeza que deseja deletar este hóspede?')">x</a>
                            <a th:href="@{/updateEmployee/{id}(id=${employee.employee_id})}">^</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

        </div>
    </div>
</div>
</main>
<footer>
</footer>
</body>
</html>