<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <title>HOTEL BEIRA-MAR</title>
</head>

<body>
<main>
    <div class="hotel-header">
        <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
    </div>

    <a class="botao-voltar" href="/home"><img src="seta-esquerda.png"></a>
    <div class="content">
        <div class="choose-field">
            <div class="input-pesquisa">
                <!-- <form action="/hospedes" method="post" class="form-hospede"> -->
                <input class="input-hospedes" type="text" id="txtBuscaH" placeholder="Nome"/>
                <input class="input-hospedes" type="text" id="txtBuscaH" placeholder="Sobrenome"/>
                <input class="input-hospedes" type="text" id="txtBuscaH" placeholder="CPF"/>
                <select id="inputSexo" name="sexo" class="input-sexo">
                    <option value="" disabled selected>Sexo</option>
                    <option value="masculino">M</option>
                    <option value="feminino">F</option>
                </select>
                <button type="submit" class="button-pesquisa"></button>
                <!-- </form> -->
            </div>
            <div class="campos-hospedes">
                <a class="botao-adicionar" href="/adicionar">Adicionar</a>
                <a class="botao-remover" href="/hospedes">Remover</a>
                <a class="botao-atualizar" href="/hospedes">Atualizar</a>
            </div>

            <div class="table-div">
                <table>
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Sexo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="guest : ${guests}">
                        <td><span th:text="${guest.name}"></span></td>
                        <td><span th:text="${guest.last_name}"></span></td>
                        <td><span th:text="${guest.cpf}"></span></td>
                        <td><span th:text="${guest.cellphone}"></span></td>
                        <td><span th:text="${guest.gender}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>