<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <title>HOTEL BEIRA-MAR</title>
</head>
  
<body>
  <main>
    <div class="hotel-header">
        <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
    </div>

<a class="botao-voltar" href="/"><img src="seta-esquerda.png"></a>
<div class="content">
  <div id="choose-filed-home" class="choose-field">
    <p>SISTEMA DE GERENCIAMENTO</p>
    <div class="escolhas">
      <a class="botao-hospede" href="/hospedes">Hospedes</a>
      <a class="botao-funcionario" href="/funcionarios">Funcionarios</a>
      <a class="botao-reserva" href="/reservas">Reservas</a>
    </div>
  </div>
</div>
</main>
<footer>
</footer>
</body>
</html>