<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <title>HOTEL BEIRA-MAR</title>
</head>

<body>
<main>
  <div class="hotel-header">
    <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
  </div>
  <div class="content">
    <div class="content">
      <div class="login-field">
        <form id="login-form" action="/home" method="post">
          <div class="user-box">
            <label id="userId-label" for="userId">Admin ID:</label>
            <input type="text" id="userId" name="username" required>
          </div>
          <div class="password-box">
            <label id="password-label" for="password">Password:</label>
            <input type="text" id="password" name="password" required>
          </div>
          <button type="submit" class="login-index">Login</button>
          <div class="error-message" id="error-message"></div>
        </form>
      </div>
    </div>
  </div>
</main>
<footer></footer>
</body>
</html>