<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <title>HOTEL BEIRA-MAR</title>
</head>
  
<body>
  <main>
    <div class="hotel-header">
        <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
    </div>

<a class="back-button" href="/home"><img src="seta-esquerda.png"></a>
<div class="content">
  <div class="new-reservation">
    <form action="/addReservation" method="post" class="reservation-form">
  
        <div>
<!--            &lt;!&ndash; <h1>Hóspede</h1> &ndash;&gt;-->
<!--            <label for="name">Nome:</label>-->
<!--            <input type="text" name="name" required placeholder="Nome Hóspede">-->
<!--          -->
<!--            <label for="last_name">Sobrenome:</label>-->
<!--            <input type="text" name="last_name" required placeholder="Sobrenome Hóspede">-->
<!--          -->
<!--            <label for="telefone">CPF:</label>-->
<!--            <input type="text" id="telefone" name="telefone" required placeholder="CPF Hóspede">-->
<!--    -->
<!--            <label for="telefone">Telefone:</label>-->
<!--            <input type="text" id="telefone" name="telefone" required placeholder="Telefone Hóspede">-->

<!--            <label for="telefone">Sexo:</label>-->
<!--            <select id="" name="sexo" class="input-sexo" required>-->
<!--              <option value="" disabled selected>Sexo Hóspede</option>-->
<!--              <option value="masculino">M</option>-->
<!--              <option value="feminino">F</option>-->
<!--            </select>-->

            <label for="guest_id">ID Hóspede</label>
            <input type="number" name="guest_id" required placeholder="ID Hóspede">

            <label for="manager_id">ID Gerente</label>
            <input type="number" name="manager_id" required placeholder="ID Gerente">

            <label for="room_id">ID Quarto</label>
            <input type="number" name="room_id" required placeholder="ID Quarto">

        </div>

        <div>
<!--            <label for="nome">Nº Leitos:</label>-->
<!--            <input type="number" id="numero" name="numero" min="1" max="4" required placeholder="Leitos Quarto">-->
<!--          -->
<!--            <label for="cpf">Nº Banheiros:</label>-->
<!--            <input type="number" id="numero" name="numero" min="1" max="4" required placeholder="Banheiros Quarto">-->
<!--          -->
<!--    -->
<!--            <label for="telefone">Tipo quarto:</label>-->
<!--            <select id="" name="sexo" class="input-sexo" required>-->
<!--              <option value="" disabled selected>Tipo</option>-->
<!--              <option value="masculino">12313</option>-->
<!--              <option value="feminino">13231</option>-->
<!--            </select>-->
            <label for="lodging_id">ID Hospedagem</label>
            <input type="number" name="lodging_id" required placeholder="ID Hospedagem">
        </div>

        <div>
<!--            <label for="nome">ID Funcionário:</label>-->
<!--            <input type="text" id="nome" name="nome" required placeholder="ID Funcionário">-->
<!--          -->
            <label for="checkin_date">Início Reserva:</label>
            <input type="date" name="checkin_date" required>

            <label for="checkout_date">Fim Reserva:</label>
            <input type="date" name="checkout_date" required>
<!--    -->
<!--            <label for="telefone">Status Reserva:</label>-->
<!--            <select id="" name="sexo" class="input-sexo" required>-->
<!--              <option value="" disabled selected>Status</option>-->
<!--              <option value="masculino">12313</option>-->
<!--              <option value="feminino">13231</option>-->
<!--            </select>-->
        </div>
      
        <button type="submit">Adicionar reserva</button>
      
      </form>
      
      
  </div>
</div>
</main>
<footer>
</footer>
</body>
</html>