<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <title>HOTEL BEIRA-MAR</title>

    <script>
        function updateURL() {
            var guestId = document.getElementById("guestId").value;
            document.getElementById("guestForm").action = "/guestAndReservationByLodging/" + (guestId ? guestId : 'null');
        }
    </script>
</head>
<body>
  <main>
    <div class="hotel-header">
        <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
    </div>
<a class="back-button" href="/home"><img src="seta-esquerda.png"></a>
<div class="content">
    <a class="back-button" href="/report2"><img src="seta-esquerda.png"></a>
  <div class="choose-field" id="reserva-choose-field">

    <div class="report-field">
          <div>
              <a class="report-a" href="/updateRoomType/1">Atualizar Tipo Quarto 1</a>
          </div>

          <div>
              <a class="report-a" href="/updateRoomType/2">Atualizar Tipo Quarto 2</a>
          </div>
    </div>
</div>
    <a class="back-button" href="/report"><img src="seta-direita.png"></a>
</div>
</main>
<footer>
</footer>
</body>
</html>
