<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <title>HOTEL BEIRA-MAR</title>
</head>
  
<body>
  <main>
    <div class="hotel-header">
        <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
    </div>

<a class="back-button" href="/home"><img src="seta-esquerda.png"></a>
<div class="content">
  <div class="choose-field" id="reserva-choose-field">
    <div class="barra-pesquisa">
      <div class="reservation-field">
        <a href="/new-reservation">Nova reserva</a>
      </div>
    </div>
      <div class="table-div">
    <table>
      <thead>
          <tr>
              <th>ID Gerente</th>
              <th>ID Hóspede</th>
              <th>ID Quarto</th>
              <th>ID Hospedagem</th>
              <th>Data de Início da Reserva</th>
              <th>Data de Fim da Reserva</th>
              <th>Status da Reserva</th>
          </tr>
      </thead>
      <tbody>
      <tr th:each="reservation : ${reservations}">
          <td><span th:text="${reservation.manager_id.manager_id}"></span></td>
          <td><span th:text="${reservation.guest_id.guest_id}"></span></td>
          <td><span th:text="${reservation.room_id.room_number}"></span></td>
          <td><span th:text="${reservation.lodging_id.lodging_id}"></span></td>
          <td><span th:text="${reservation.checkin_date}"></span></td>
          <td><span th:text="${reservation.checkout_date}"></span></td>
          <td><span th:text="${reservation.status}"></span></td>
          <td class="delete-link" th:if="${reservation.status == 1}">
              <a th:href="@{/cancelReservation/{id}(id=${reservation.reservation_id})}" onclick="return confirm('Tem certeza que deseja cancelar essa reserva??')">x</a>
              <a th:href="@{/update-reservation/{id}(id=${reservation.reservation_id})}">^</a>
          </td>
      </tr>
      </tbody>
  </table>
          </div>
</div>
</div>
</main>
<footer>
</footer>
</body>
</html>