<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <title>HOTEL BEIRA-MAR</title>
</head>
  
<body>
  <main>
    <div class="hotel-header">
        <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
    </div>

<a class="botao-voltar" href="/home"><img src="styles/seta-esquerda.png"></a>
<div class="content">
  <div class="choose-field" id="reserva-choose-field">
    <div class="barra-pesquisa">
      <div class="campos-reserva">
        <a class="botao-adicionar" href="/reservar">Nova reserva</a>
        <a class="botao-remover" href="/reservas">Cancelar reserva</a>
      </div>
    </div>
    <table>
      <thead>
          <tr>
              <th>ID Funcionário</th>
              <th>ID Hóspede</th>
              <th>Tipo de Quarto</th>
              <th>ID Hospedagem</th>
              <th>Data de Início da Reserva</th>
              <th>Data de Fim da Reserva</th>
              <th>Status da Reserva</th>
          </tr>
      </thead>
      <tbody>
          <!-- Adicione as linhas da tabela com os dados correspondentes -->
          <tr>
              <td>001</td>
              <td>101</td>
              <td>Suíte Luxo</td>
              <td>201</td>
              <td>2023-01-01</td>
              <td>2023-01-07</td>
              <td>Confirmada</td>
          </tr>
          <tr>
              <td>002</td>
              <td>102</td>
              <td>Quarto Standard</td>
              <td>202</td>
              <td>2023-02-15</td>
              <td>2023-02-20</td>
              <td>Pendente</td>
          </tr>
          <!-- Adicione mais linhas conforme necessário -->
      </tbody>
  </table>
</div>
</div>
</main>
<footer>
</footer>
</body>
</html>