<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <title>HOTEL BEIRA-MAR</title>
</head>
  
<body>
  <main>
    <div class="hotel-header">
        <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
    </div>

<a class="back-button" href="/home"><img src="seta-esquerda.png"></a>
<div class="content">
  <div class="choose-field" id="reserva-choose-field">
    <div class="barra-pesquisa">
      <div class="reservation-field">
        <a class="botao-adicionar" href="/reservar">Nova reserva</a>
        <a class="botao-remover" href="/reservas">Cancelar reserva</a>
      </div>
    </div>
    <table>
      <thead>
          <tr>
              <th>ID Funcionário</th>
              <th>ID Hóspede</th>
              <th>Tipo de Quarto</th>
              <th>ID Hospedagem</th>
              <th>Data de Início da Reserva</th>
              <th>Data de Fim da Reserva</th>
              <th>Status da Reserva</th>
          </tr>
      </thead>
      <tbody>
      <tr th:each="reservation : ${reservations}">
          <td><span th:text="${reservation.name}"></span></td>
          <td><span th:text="${reservation.last_name}"></span></td>
          <td><span th:text="${reservation.cpf}"></span></td>
          <td><span th:text="${reservation.cellphone}"></span></td>
          <td><span th:text="${reservation.gender}"></span></td>
      </tr>
      </tbody>
  </table>
</div>
</div>
</main>
<footer>
</footer>
</body>
</html>