<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <title>HOTEL BEIRA-MAR</title>
</head>

<body>
<main>
    <div class="hotel-header">
        <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
    </div>

    <a class="back-button" href="/home"><img src="../seta-esquerda.png"></a>
    <div class="content">
        <div class="login-field">
        <h2>Atualizar Reserva</h2>
            <form id="form-res" onsubmit="updateURL()"  method="post" class="update-reservation-form">
                <label id="checkin_input" for="checkin_date" name = "checkin_date">Data Entrada</label>
                <input type="date" th:field="${reservation.checkin_date}" name="checkin_date" required />
                <label for="checkout_date" name = "checkout_date">Data Saída</label>
                <input id="checkout_input" type="date" th:field="${reservation.checkout_date}" name="checkout_date" required />
                <input type="hidden" id="id" name="id" value="${id}" />
                <button type="submit" class="update-guest-form-button">Salvar Atualizações</button>
        </form>
        </div>
    </div>
</main>
<footer>
</footer>
<script>
    function converterDatas() {
        // Obtenha os valores dos campos de data
        let checkinDate = new Date(document.getElementById('checkin_date_input').value);
        let checkoutDate = new Date(document.getElementById('checkout_date_input').value);

        // Obtenha o valor do parâmetro 'id' da URL atual
        let idParam = obterValorDoParametro('id');

        // Formate as datas no formato "YYYY-MM-DD"
        let checkinDateString = formatDate(checkinDate);
        let checkoutDateString = formatDate(checkoutDate);

        // Adicione 'id' como parâmetro na URL
        let url = "/saveUpdatedReservation?checkin_date=" + checkinDateString + "&checkout_date=" + checkoutDateString + "&id=" + idParam;

        // Redirecione para a URL com os parâmetros
        window.location.href = url;
    }3

    function formatDate(date) {
        let year = date.getFullYear();
        let month = ('0' + (date.getMonth() + 1)).slice(-2);
        let day = ('0' + date.getDate()).slice(-2);
        return year + '-' + month + '-' + day;
    }

    function obterValorDoParametro(nomeParametro) {
        let urlAtual = window.location.href;
        let parametros = urlAtual.split('/');

        // Encontrar a posição do parâmetro na URL
        let index = parametros.indexOf(nomeParametro);

        // Verificar se o parâmetro foi encontrado e se há um valor associado a ele
        if (index !== -1 && index + 1 < parametros.length) {
            return parametros[index + 1];
        }

        return null;
    }

    function updateURL() {
        var resId = document.getElementById("id").value;
        document.getElementById("form-res").action = "/saveUpdatedReservation" + (resId ? resId : 'null');
    }

    // Exemplo de uso: obterValorDoParametro("update-reservation") retornará o valor "1" para a URL "update-reservation/1"

</script>
</body>

</html>
