<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <title>HOTEL BEIRA-MAR</title>
</head>

<body>
<main>
    <div class="hotel-header">
        <h1 class="hotel-header-title">HOTEL BEIRA-MAR</h1>
    </div>

    <a class="back-button" href="/home"><img src="../seta-esquerda.png"></a>
    <div class="content">
        <div class="login-field">
        <h2>Atualizar Reserva</h2>
            <form  action="/saveUpdatedReservation" method="post" class="update-reservation-form">
                <input type="number" th:field="${reservation.reservation_id}" name="id"/>
                <label for="checkin_date">Data Entrada</label>
                <input type="date" th:field="${reservation.checkin_date}" name="checkin_date" required />
                <input type="number" th:field="${reservation.room_id}" name="room_id"/>
                <input type="number" th:field="${reservation.lodging_id}" name="lodging_id"/>
                <input type="number" th:field="${reservation.status}" name="status"/>
                <input type="number" th:field="${reservation.manager_id}" name="manager_id"/>
                <input type="number" th:field="${reservation.guest_id}" name="status"/>
                <label for="checkout_date" >Data Saída</label>
                <input type="date" th:field="${reservation.checkout_date}" name="checkout_date" required />
                <button type="submit" class="update-guest-form-button">Salvar Atualizações</button>
        </form>
        </div>
    </div>
</main>
<footer>
</footer>
</body>

</html>
